*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: linear-gradient(to top right, #9A0DCC, #560AB8);
    --principale-color: #9A0DCC;
    --background-dark: #07090D;
}
body{
    background-color: var(--background-dark);
}
/*niveau 1*/
.generalContainer{
    background-color: transparent;
    top: 70px;
}


/*niveau 2*/
.section{
    height: 100vh;
    width: 100vw;
    top: 70px;
}