*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: linear-gradient(to top right, #9A0DCC, #560AB8);
    --principale-color: #9A0DCC;
    --background-dark: #07090D;
}
.rightnavigationcontainer{
    background-color: red;
    position: fixed;
    z-index: 66;
    transform: translate(0, -50%);
    top: 50%;
    right: 1%;
    padding: 34px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 275px;
    border-radius: 200px;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.39);
    border: 3px solid #11141D;
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.rightnav{
    background-color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}